/* Custom fonts */
@font-face
{
    font-family: 'BallparkWeiner';
    src: url('tp_images_fonts/fonts/ballpark.eot');
    src: url('tp_images_fonts/fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('tp_images_fonts/fonts/ballpark.woff') format('woff'),
         url('tp_images_fonts/fonts/ballpark.ttf') format('truetype'),
         url('tp_images_fonts/fonts/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('tp_images_fonts/fonts/dayrom.eot');
    src: url('tp_images_fonts/fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('tp_images_fonts/fonts/dayrom.woff') format('woff'),
         url('tp_images_fonts/fonts/dayrom.ttf') format('truetype'),
         url('tp_images_fonts/fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Main page stylings */
body {
    background: url("tp_images_fonts/images/yellow_background.png");
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#main {
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: 'Dayrom', serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header stylings */

header {
    background: url("tp_images_fonts/images/line.png") repeat-x bottom;
}

#headerTitle {
    display: inline-block;
}

header h1 {
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1 {
    display: inline-block;
    margin-bottom: 0px;
}

header h2 {
    font-family: 'Dayrom', serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

nav {
    display: inline-block;
    width: 740px;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
}

nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Banner */

#bannerImage {
    background-image: url('tp_images_fonts/images/sanfrancisco.jpg');
    height: 200px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
}

#bannerText {
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
    color: #ffffff;
    background-color: rgba(24,24,24,0.8);
    border-radius: 0px 0px 5px 5px;
    height: 33px;
    width: 99.5%;
    padding-top: 15px;
    padding-left: 4px;
}

.redButton {
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-image: url('tp_images_fonts/images/red_background.png');
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.redButton img
{
    border: 0;
}

/* Body styles */

article, aside {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article {
    width: 625px;
    margin-right: 15px;
}

article img {
    vertical-align: middle;
    margin-right: 8px;
}

article p {
    font-size: 0.8em;
}

aside {
    width: 235px;
    background-color: #706b64;
    position: relative;
    color: #ffffff;
    border-radius: 5px;
    font-size: 0.9em;
    padding: 10px;
    box-shadow: 0px 2px 5px #1c1a19;
}

#arrow {
    position: absolute;
    top: 100px;
    left: -12px;
}

#zozorPhoto {
    text-align: center;
}

#zozorPhoto img {
    border: 1px solid #181818;
}

aside img {
    margin-right: 5px;
}

/* Footer stylers */

footer {
    background: url('tp_images_fonts/images/top.png') no-repeat top center, url('tp_images_fonts/images/line.png') repeat-x top, url('tp_images_fonts/images/shadow.png') repeat-x top;
    margin-top: 25px;
    padding-top: 25px;
}

footer p, footer ul {
    font-size: 0.8em;
}

footer h1 {
    font-size: 1.1em;
}

#lastTweet, #pictures, #friends {
    display: inline-block;
    vertical-align: top;
}

#lastTweet {
    width: 28%;
}

#pictures {
    width: 35%;
}

#pictures img {
    border: 1px solid #181818;
    margin-right: 2px;
}

#friends {
    width: 31%;
}

#friends ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image: url('tp_images_fonts/images/external_link.png');
    padding-left: 2px;
}

#friends a {
    text-decoration: none;
    color: #760001;
}